@import 'commons/variables';
@import 'commons/mixins';

$row-hovered: rgba($blue, .05);
$row-selected: rgba($blue, .2);
$row-height: 95px;

.channelsList {
}

%base-item {
  padding: 0;
  border: 0;
  border-bottom: 1px solid $borders-color;
  background-color: #fff;
  width: 100%;
  text-align: left;
  outline: 0;
}

.item {
 @extend %base-item;
  cursor: pointer;

  &:hover, &:focus {
    background-color: $row-hovered;
  }
}

.itemActive {
  @extend %base-item;
  background-color: $row-selected;
}

.itemWrapper {
  display: flex;
  height: $row-height;
  box-sizing: border-box;
}

.hiddenItem {
 display: none;
}

.icon {
  $canvas-bg: $graphite;
  width: 85px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  background-color: $canvas-bg;
  box-sizing: border-box;
  padding: 10px;
  position: relative;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .item:hover & {
    background-color: mix($canvas-bg, $row-hovered);
  }

  .itemActive & {
    background-color: mix($canvas-bg, $row-selected);
  }
}
