@import 'commons/mixins';

.mainPanel {
  flex-grow: 1;
  flex-direction: column;
  display: none;

  @include break(medium) {
    display: flex;
    padding: 0 20px;
  }
}

.playerContainer {
  background-color: #000;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
