@import '../../commons/colors';

.host {
  display: flex;
  align-items: center;
}

.bar, .inner {
  height: 4px;
}

.bar {
  background-color: #cdced0;
  flex: 1 0;
  position: relative;
}

.inner {
  display: block;
  position: absolute;
  background-color: $blue;
  //
  //&::after {
  //  $size: 8px;
  //  content: '';
  //  position: absolute;
  //  right: -$size / 2;
  //  top: -2px;
  //  z-index: 1;
  //  display: block;
  //  height: $size;
  //  width: $size;
  //  border-radius: $size;
  //  background-color: $blue;
  //}
}
