.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; // keep aspect ratio 16:9
  height: 0;
  width: 100%;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

video::-webkit-media-controls {
  &-timeline,
  &-current-time-display,
  &-time-remaining-display,
  &-timeline-container
  {
    display: none;
  }
}
