@import "./colors";

@mixin sidebar-header() {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  color: #fff;
  background-color: $graphite-black;
  border-bottom: 1px solid $dark-black;
}
