@import "./colors";
@import "./breaks";

@mixin sidebar-header() {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  color: $gray;
  border-bottom: 1px solid $borders-color;
}

