@import "./colors";
@import "./breaks";

@mixin sidebar-header() {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  color: $gray;
  border-bottom: 1px solid $borders-color;
}

@mixin truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin makeColorfulBtn($base-color) {
  background-color: $base-color;

  &:disabled {
    background-color: mix($base-color, $porcelain, 30%);
  }

  &:hover:not(:disabled) {
    background-color: mix(#000, $base-color, 10%);
  }
}
