@import '../../../commons/colors';

.checkbox {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, 0.6);

  & > input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;

    &:checked + label {
      &:before {
        font-size: 16px;
        background-color: $blue;
        border: none;
        color: #fff;
      }
    }
  }

  & > label {
    $size: 20px;
    font-size: 0;
    cursor: pointer;
    display: block;
    min-height: $size;
    padding: 0 0 0 ($size+5);
    position: relative;

    &:before {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #fff;
      box-sizing: border-box;
      content: '✔';
      height: $size;
      width: $size;
      left: 0;
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
    }
  }
}

