@import "styles/variables";
@import "styles/mixins";

.header-wrap {
  @include headerHeight();

  display: flex;
  align-items: center;
  box-sizing: border-box;

  padding: 5px 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.btn {
  @include header-btn();
}

.settings-btns {
  margin-left: auto;
  display: flex;
}
