@import '../../commons/mixins';

.host {
  background-color: #fff;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);

  @include break(first-stop) {
    width: 400px;
  }

}

.header {
  flex: 0 0 auto;
}

.body {
  flex: 1;
  box-sizing: border-box;
}
