@import '../../commons/mixins';

.host {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
}

.body {
  flex: 1;
  box-sizing: border-box;
  border-right: 1px solid $borders-color;
}
