@import 'styles/variables';
@import 'styles/mixins';

$row-hovered: rgba($blue, .05);
$row-selected: rgba($blue, .2);
$row-height: 85px;


:host {
  position: relative;
  flex-grow: 1;
  padding: 10px 10px;
  min-width: 0;
}

.name {
  @include truncate-text;
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.current-program {
  @include truncate-text;
  font-size: 14px;
  margin-bottom: 5px;
}

.next-program {
  @include truncate-text;
  opacity: 0.6;
  font-size: 14px;
  margin-top: 5px;
}

.time {
  margin-right: 10px;
}
