@import '../../commons/mixins';

.listSwitcher {
  @include sidebar-header;
}

.currentModeTitle {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.options {
  margin-left: auto;
}

.option {
  color: $gray;
  border: 0;
  background: none;
  width: 40px;
  height: 30px;
  cursor: pointer;
  margin-left: 5px;
}

.optionCurrent {
  @extend .option;
  color: $blue;
}

