.groupedChannelsList {}

.group {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  border: 0;
}

.header {
  width: 100%;
  cursor: pointer;
  height: 75px;
  margin-bottom: 5px;
}

.bodyCollapsed {
  display: none;
}

.bodyExpanded {
  display: block;
}
