.host {}

@mixin onExpanded() {
  .groupExpanded & {
    @content;
  }
}

@mixin onCollapsed() {
  .groupCollapsed & {
    @content;
  }
}

.groupCollapsed, .groupExpanded  {
  width: 100%;
  box-sizing: border-box;
  background-color: #ebf2f6;
}

.header {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;
  cursor: pointer;

  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  height: 60px;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}


.body {
  @include onExpanded() {
    display: block;
  }
  @include onCollapsed() {
    display: none;
  }
}

.arrowIcon {
  $size: 18px;

  margin-left: auto;

  @include onExpanded() {
   transform: rotate(90deg);
  }

  & > svg {
    height: $size;
    width: $size;
  }
}
