.app {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
}

.sidePanel {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidePanelHeader {
  flex: 0 0 auto;
}

.mainPanel {
  flex-grow: 1;
}

.channelsContainer {
}
