@import 'styles/mixins';

//:global {
//  @import "~normalize.css";
//}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: #f1f1f1;
}

button, input, optgroup, select, textarea {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $blue;
}
