@import 'styles/mixins';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: #f1f1f1;
}

button, input, optgroup, select, textarea {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $blue;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #dedede;
}

::-webkit-scrollbar-thumb {
  background: #888;
  transition: background .3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: $blue;
}
