@import 'styles/mixins';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: #f1f1f1;
}

button, input, optgroup, select, textarea {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $blue;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #dedede;
}

::-webkit-scrollbar-thumb {
  background: #888;
  transition: background .3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: $blue;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
