@import 'commons/variables';
@import 'commons/mixins';

.host {
  max-width: 500px;
  margin: 20px auto 0;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  padding: 20px;
}

.title {
  padding: 0;
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: 400;
}

.gridForm {
  display: flex;
  flex-wrap: wrap;
}

.blockField {
  height: 65px;
  width: 100%;
  position: relative;
  display: flex;
  input {
    margin-top: -1px;
    width: 100%;
    height: 100%;
    padding: 30px 0 5px 10px;
    box-sizing: border-box;
    border: 1px solid #d8d8d8;
    flex-grow: 1;
    font-size: 16px;
    transition: border-color 0.2s ease;
    color: $blue;
    outline: none;
    &:focus {
      border-color: $blue;
      z-index: 1;
    }
  }

  &:first-child input {
    margin-top: 0;
    //border-bottom-width: 1px;
  }
}

.formActions {
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;

}

.fieldLabel {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: $gray;
  z-index: 2;
}

@mixin formBtn($bg, $txtColor: #fff) {
  color: $txtColor;
  border: 0;
  height: 30px;
  cursor: pointer;
  padding: 0 20px;
  margin-left: 10px;
  @include makeColorfulBtn($bg);
}

.submitBtn {
  @include formBtn($blue);
}

.cancelBtn {
  @include formBtn($gray);
}

