@import '../../commons/mixins';

.host {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: -40px;

  @include break(medium) {
    width: 300px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  }

  @include break(first-stop) {
    width: 400px;
  }

}

.header {
  flex: 0 0 auto;
  color: $gray;
  @include sidebar-header();
}

.headerTitle {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.body {
  flex: 1;
  box-sizing: border-box;
}

